[Desktop Entry]
Type=Application

Name=Frigoligo
Comment=Your articles with you
Categories=Network;News;

Exec=frigoligo
Icon=net.casimirlab.frigoligo
Terminal=false