name: build and upload artifacts
on:
  push:
    tags:
      - v*.*.*
  workflow_call:
    outputs:
      run_id:
        value: ${{ github.run_id}}
      apk:
        value: ${{ jobs.build_apk.outputs.artifact }}
      linux:
        value: ${{ jobs.build_linux.outputs.artifact }}
      appimage:
        value: ${{ jobs.build_appimage.outputs.artifact }}
      windows:
        value: ${{ jobs.build_windows.outputs.artifact }}
  workflow_dispatch:

env:
  VERSION: ${{ github.head_ref ||  github.ref_name }}

jobs:
  build_apk:
    runs-on: ubuntu-latest
    env:
      ARTIFACT: frigoligo-${{ github.head_ref ||  github.ref_name }}.apk
    outputs:
      artifact: ${{ env.ARTIFACT }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: flutter build apk
        env:
          NO_SIGNING: true
      - name: Sign Release
        uses: ilharp/sign-android-release@v1
        id: sign_release
        env:
          ANDROID_RELEASE_DIR: build/app/outputs/flutter-apk
          ANDROID_SIGNING_KEY: ${{ secrets.KEYSTORE_B64 }}
          ANDROID_KEY_ALIAS: ${{ secrets.ALIAS }}
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          ANDROID_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ steps.sign_release.outputs.signedFile }}
      - if: ${{ github.ref_type == 'tag' }}
        run: gh release upload $VERSION $ARTIFACT --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_linux:
    runs-on: ubuntu-latest
    env:
      ARCH: x86_64
      ARTIFACT: frigoligo-${{ github.head_ref ||  github.ref_name }}-linux-x64.tar.gz
    outputs:
      artifact: ${{ env.ARTIFACT }}
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
      - run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: flutter build linux
      - run: cp -R build/linux/x64/release/bundle/ build/frigoligo/
      - run: tar czf ../$ARTIFACT frigoligo/
        working-directory: ./build
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ env.ARTIFACT }}
      - if: ${{ github.ref_type == 'tag' }}
        run: gh release upload $VERSION $ARTIFACT --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_appimage:
    needs: build_linux
    runs-on: ubuntu-latest
    env:
      ARTIFACT: Frigoligo-${{ github.head_ref ||  github.ref_name }}-x86_64.AppImage
      LINUX_ARTIFACT: ${{ needs.build_linux.outputs.artifact }}
    outputs:
      artifact: ${{ env.ARTIFACT }}
    steps:
      - name: Install native dependencies
        run: |
          sudo apt update -y
          sudo apt install libfuse2
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            appimage
            assets
      - uses: actions/download-artifact@v3
        with:
          name: ${{ env.LINUX_ARTIFACT }}
      - name: Prepare AppImage
        run: |
          tar xzf ../$LINUX_ARTIFACT
          mv frigoligo/ Frigoligo.AppDir
          cp AppRun Frigoligo.AppDir/
          cp Frigoligo.desktop Frigoligo.AppDir/
          cp ../assets/logos/frigoligo.png Frigoligo.AppDir/
        working-directory: ./appimage
      - name: Build AppImage
        run: |
          wget -q "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage"
          chmod +x appimagetool-x86_64.AppImage
          ./appimagetool-x86_64.AppImage Frigoligo.AppDir $ARTIFACT
        working-directory: ./appimage
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT }}
          path: appimage/${{ env.ARTIFACT }}
      - if: ${{ github.ref_type == 'tag' }}
        run: gh release upload $VERSION $ARTIFACT --clobber
        working-directory: ./appimage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_windows:
    runs-on: windows-latest
    env:
      ARTIFACT: frigoligo-${{ github.head_ref ||  github.ref_name }}-win-x64.zip
    outputs:
      artifact: ${{ env.ARTIFACT }}
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: flutter build windows
      - run: Copy-Item -Path build\windows\x64\runner\Release\ -Destination build\frigoligo\ -Recurse
      - run: Compress-Archive -Path frigoligo -DestinationPath ..\\$env:ARTIFACT
        working-directory: ./build
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ env.ARTIFACT }}
      - if: ${{ github.ref_type == 'tag' }}
        run: gh release upload $env:VERSION $env:ARTIFACT --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
