name: gh-pages
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "version=$(jq -r '.flutter' .fvmrc)" >> $GITHUB_OUTPUT
        id: flutter-version
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ steps.flutter-version.outputs.version }}
          cache: true
      - run: flutter config --no-analytics
      - run: flutter pub get
      - run: flutter build web --base-href "/frigoligo/" --source-maps
      - run: mv build/web/ public
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
