name: update changelog
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  changelog:
    name: Update changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: orhun/git-cliff-action@v4
        env:
          # the value in the config is overriden implicitly
          OUTPUT: CHANGELOG.md
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automated changelog update"
          file_pattern: CHANGELOG.md
