name: push appbundle to playstore
on:
  push:
    tags:
      - v*.*.*
  workflow_dispatch:
    inputs:
      force:
        description: "Force run"
        required: false
        default: false
        type: boolean

jobs:
  build_appbundle:
    if: ${{ github.ref_type == 'tag' || github.event.inputs.force == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 11
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: flutter --version
      - run: flutter pub get
      - run: flutter build appbundle
        env:
          NO_SIGNING: true
      - name: Sign Release
        uses: r0adkll/sign-android-release@v1
        id: sign_release
        with:
          releaseDirectory: build/app/outputs/bundle/release
          signingKeyBase64: ${{ secrets.KEYSTORE_B64 }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
      - name: Deploy to beta channel
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: net.casimirlab.frigoligo
          releaseFiles: ${{ steps.sign_release.outputs.signedReleaseFile }}
          track: beta
          status: draft
